\#*
*~
.#*
.DS_Store
.idea
.localeapp/locales
.project
coverage
default
Gemfile.lock
tmp
nbproject
pkg
*.sw?
spec/dummy
spec/examples.txt
.rvmrc
.sass-cache
public/spree
.ruby-version
.ruby-gemset
vendor
gemfiles/*.gemfile.lock
*.gem
